
<div class="card" style="width: 70%; margin: 10px auto;">
  <div class="card-body">
    <h3 class="card-title">Contacts Reward App</h3>
    <hr/>
    <h5 class="card-subtitle mb-2 text-muted">A minimal app to Add rewards on the basis of purchases</h5>

	<div class='btn btn-primary btn-lg'>
		<%= link_to "See All Contacts", {controller: "contacts", action: "index"}, class: "card-link" %>
	</div>
  </div>
</div>