<div class="card" style="width: 70%; margin: 10px auto;">
  <div class="card-body">
    <h3 class="card-title">Create New Contact</h3>
    <hr/>

    <%= render 'form', contact: @contact %>
  </div>
</div>


